In [1]:
# q1:https://www.youtube.com/watch?v=T6NU0cI4zHk&ab_channel=GeekCoders
input_list = [1,2,[7,3,67,[4,55]],19,32]
# output should be [1,2,,7,3,67,4,55,19,32]

In [2]:
def f_flatten(input_list):
    l=[]
    for i in input_list:
        if(type(i) is list):
            l.extend(f_flatten(i))
        else:
            l.append(i)
    return l
f_flatten(input_list)

[1, 2, 7, 3, 67, 4, 55, 19, 32]

In [3]:
# ankith bansal questions
#  https://www.youtube.com/watch?v=F6QZutbRt2Y&ab_channel=AnkitBansal

In [4]:
emp_list=[('Ankit',10000),('Rahul',12000),('Sumit',14000),('Dheeraj',21000),('Pavan',11000),('Mohit',13000)] # list of tuples

In [5]:
## we need to employee, salary whose salary is graeter than avg salary of company

In [6]:
def get_avg_salary(emp_list):
    total_salary = 0
    for name,salary in emp_list:
        total_salary = salary+total_salary
    return total_salary/len(emp_list)

In [7]:
get_avg_salary(emp_list)

13500.0

In [8]:
avg_salary = get_avg_salary(emp_list)

In [9]:
my_list = []
for name,salary in emp_list:
    if salary>avg_salary:
        my_list.append((name,salary))

In [10]:
my_list

[('Sumit', 14000), ('Dheeraj', 21000)]

# 1. Python program to check prime numbers

In [11]:
#
def prime(n):
    if n==0 or n==1:
        print("not a prime number")
    elif n>1:
        flag = 1
        for i in range(2,n):
            if i%n==0:
                flag = 0
                break
        if flag == 1:
            print("prime number")
        else:
            print("no a prime number")

In [12]:
prime(0)

not a prime number

# 2. Program to find a factorail of a number

In [13]:
# Program to find a factorail of a number
def fact(n):
    if n==1 or n==0:
        return 1
    else:
        return n*fact(n-1)
fact(5)

120

# 3. program for nth fibonacci number

In [14]:
#It is the series of numbers where each number is the sum of 2 preceding numbers. for example 0,1,1,2,3,5,8,13,21...
def fib(n):
    if n==1:
        return 0
    elif n==2:
        return 1
    else:
        return fib(n-1)+fib(n-2)

In [15]:
fib(6)

5

# 4. python program  first n natural number
##### natural numbers starts from 1 to infinity

In [16]:
def natural(n):
    sum = 0
    for i in range(1,n+1):
        sum+=i*i
    return sum

In [17]:
natural(4)

30

# 5. Python program for armstrong number

###### it is a number that is equal to sum of digits, each raised to power of the number of digits in the number
153 = 1^3+5^3+3^3

In [18]:
def armstrong(n):
    sum = 0
    temp = n
    length = len(str(n))
    
    while temp>0:
        digit = temp%10
        sum += digit**length
        temp = temp//10
    if n == sum:
        print('it is an armstrong number')
    else:
        print('it is not an armstrong number')

In [19]:
armstrong(153)

it is an armstrong number

# 6. python program for sum of array with out using function

In [20]:
l= [2,4,6,5,3,5]
def summation(l):
    sum = 0
    for i in l:
        sum+=i
    return sum
summation(l)

25

# 7. Python program to find large number in array

In [21]:
arr = [2,3,44,6,88,27]
max= 0
for i in arr:
    if i>max:
        max=i
print(max)

88

# 8.Python program to array rotation

In [22]:
arr =[7,8,10]
arr[::-1]

[10, 8, 7]

In [23]:
[arr[i] for i in range(len(arr)-1,-1,-1)]

[10, 8, 7]

# 9. Python program to interchange the 1st and last digits in array

In [24]:
a = [1,2,3,4,45]
a[0],a[-1] = a[-1],a[0]
a

[45, 2, 3, 4, 1]

# 10.Python progrma to check where the given string is polindrome or not

In [25]:
s = "malayalam"
if s == s[::-1]:
    print("polindrome")
else:
    print("not a polindrome")

polindrome

In [28]:
# methos 2:
s= "hello"
a=''
for i in s:
    a= i+a
print(a)

olleh

In [30]:
# methos 2:
s= "malayalam"
a=''
for i in s:
    a= i+a
if a==s:
    print("it is a polindrome")
else:
    print("not a polindrome")

it is a polindrome

# 11.Revers words in a given sentence

In [38]:
t = " Hi santoshi how are you"
l = t.split()[::-1]
a= ' '.join(l)
a

'you are how santoshi Hi'

# 12. How to remove letters in string

In [44]:
t = 'got a pot'
t.replace('o','e')

'get a pet'

# 13. write a python program to count frequency of word in a sentence

In [47]:
t = 'hello hi hello hi how are you hello'
s = t.split()
d={}
for i in s:
    if i in d:
        d[i]+=1
    else:
        d[i]=1
print(d)

{'hello': 3, 'hi': 2, 'how': 1, 'are': 1, 'you': 1}

# 14. Python program to remove all duplicates from given string

In [50]:
s= "geekforgeeks"
a=''
for i in s:
    if i in a:
        pass
    else:
        a+=i
print(a)

gekfors